$font_color:             #9d9d9d;
$serach_button_color:    #618ff5;
$white:                  #fff;
$header_backgroud:       #363164;
$header_font_color:      #ecebef;
$input_backgroud_color:  #f3f4f8;

